temp/
qa/
output/
!.claude/output/
fsh-generated/
/translations/
/.idea
.DS_Store
/schema
/resources/ig-expansion-parameters.json
/resources/ig-new.json
/resources/ig-new.xml
/resources/ig-validation-parameters.json
/Requirements-fromNarrative.json
/input-cache/publisher.jar
/template
input-cache/
scripts/package-lock.json
scripts/node_modules/
